/trainer/app/js/upgrade-helper.services.js
/trainer/app/js/WorkoutBuilder/exercise-nav.component.js
/trainer/app/js/WorkoutBuilder/workout-builder.module.js
/trainer/app/js/app.module.js
/trainer/app/js/main.js
/trainer/app/js/app.js
