/trainer/app/js/upgrade-helper.services.js
/trainer/app/js/WorkoutBuilder/exercise-nav.component.js
/trainer/app/js/WorkoutBuilder/workout-builder.module.js
/trainer/app/js/app.module.js
/trainer/app/js/main.js
/trainer/app/js/app.js
/trainer/app/js/finish/finish.component.js
/trainer/app/js/start/start.component.js
/trainer/app/js/shared/order-by.pipe.js
/trainer/app/js/shared/search.pipe.js
/trainer/app/js/shared/seconds-to-time.pipe.js
/trainer/app/js/shared/shared.module.js
