<div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Description</h3>
        </div>
        <div class="panel-body">
            {{currentExercise.details.description}}
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Steps</h3>
        </div>
        <div class="panel-body" ng-bind-html="currentExercise.details.procedure">
        </div>
    </div>
</div>