<div class="panel panel-info" ng-controller="WorkoutVideosController">
    <div class="panel-heading">
        <h3 class="panel-title">Videos</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <div ng-repeat="video in currentExercise.details.related.videos" ng-click="playVideo(video)" class="row video-image">
                    <div class="col-sm-12">
                        <div id="play-video-overlay">
                            <span class="glyphicon glyphicon-play-circle video absolute-center"></span>
                        </div>
                        <img height="220" ng-src="https://i.ytimg.com/vi/{{video}}/hqdefault.jpg" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="youtube-modal">
    <div class="modal-header">
        <h3 class="modal-title">Workout Video</h3>
    </div>
    <div class="modal-body">
        <iframe width="100%" height="480" src="{{video}}" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
    </div>
</script>
