<div class="row workout-app-container" tabindex="1" ng-keypress="onKeyPressed($event)">
    <div id="description-panel" class="col-sm-2" ng-include="'partials/description-panel.html'">
    </div>

    <div id="exercise-pane" class="col-sm-7"> <!--ng-mouseenter="showPauseOverlay=true" ng-mouseleave="showPauseOverlay=false"-->
        <div id="pause-overlay" ng-click="pauseResumeToggle()"><!--ng-show="showPauseOverlay"-->
            <span class="glyphicon glyphicon-pause pause absolute-center"
                  ng-class="{'glyphicon-pause' : !workoutPaused, 'glyphicon-play' : workoutPaused}"></span>
        </div>

        <span ng-controller="WorkoutAudioController">
            <audio media-player="ticksAudio" loop autoplay src="content/tick10s.mp3"></audio>
            <audio media-player="nextUpAudio" src="content/nextup.mp3"></audio>
            <audio media-player="nextUpExerciseAudio" playlist="exercisesAudio"></audio>
            <audio media-player="halfWayAudio" src="content/15seconds.wav"></audio>
            <audio media-player="aboutToCompleteAudio" src="content/321.wav"></audio>
        </span>

        <div class="row workout-display-div">
            <h4>Workout Remaining - <strong>{{workoutTimeRemaining | secondsToTime}}</strong></h4>
            <h1>{{currentExercise.details.title}}</h1>
            <img class="img-responsive" src="{{currentExercise.details.image}}" />
            <div class="progress time-progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="{{currentExercise.duration}}" ng-style="{'width':(currentExerciseDuration/currentExercise.duration) * 100 + '%'}">
                </div>
            </div>
            <div class="row">
                <h3 class="col-sm-6 text-left">Time Remaining: <strong>{{currentExercise.duration-currentExerciseDuration}}</strong></h3>
                <h3 class="col-sm-6 text-right" ng-if="currentExercise.details.name=='rest'">Next up: <strong>{{workoutPlan.exercises[currentExerciseIndex + 1].details.title}}</strong></h3>
            </div>
        </div>
    </div>
    <div id="video-panel" class="col-sm-3" ng-include="'partials/video-panel.html'">
    </div>
</div>